.transaction-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Space between heading and table */
}

/* .transaction-heading {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
} */

.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.controls label {
  font-weight: bold;
  margin-right: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.controls select {
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
}

.controls select:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
